# Supabase
VITE_SUPABASE_URL=https://zbrqgtxrtbsezlutxopz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpicnFndHhydGJzZXpsdXR4b3B6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgxMTE1MDQsImV4cCI6MjA3MzY4NzUwNH0.SD8gwzrOvglLUF7fGYwQAN_VGzClLJlHDkn0TJQZogE

# Kirvano
VITE_KIRVANO_API_KEY=12345
VITE_KIRVANO_PRODUCT_ID=seu-produto-id
VITE_KIRVANO_WEBHOOK_SECRET=brincafacil01

# Backend
PORT=3001
NODE_ENV=development

# Supabase Service Role (para criar usuários)
SUPABASE_URL=https://zbrqgtxrtbsezlutxopz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=SUA_CHAVE_SERVICE_ROLE_AQUI

# Token da Kirvano
KIRVANO_TOKEN=brincafacil01